@{
    ViewData["Title"] = "About Us";
}

<h1>We are capable</h1>
<p class="lead">You can entrust your children's education to us, we will train them well</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Contact for more</a>
</p>